@{
    var pageTitle = Model.TaskId == 0 ? "Add Task" : "Edit Task";
    ViewData["Title"] = pageTitle;
}

@model Mission08_Team0209.Models.Task

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>@pageTitle</h1>
        </div>
    </div>

    <form method="post" asp-controller="Home" asp-action="@(Model.TaskId == 0 ? "CreateTask" : "Edit")">
        <input type="hidden" asp-for="TaskId" />

        <div class="row form-group">
            <div class="col-md-6">
                <label asp-for="TaskItem">Task Item</label>
                <input asp-for="TaskItem" class="form-control" required /><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label asp-for="DueDate">Due Date</label>
                <input asp-for="DueDate" class="form-control" /><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label asp-for="Quadrant">Quadrant</label>
                <select asp-for="Quadrant" class="form-control" required>
                    <option value="" selected disabled>Select a Quadrant</option>
                    <option value="1">Quadrant I: Important / Urgent</option>
                    <option value="2">Quadrant II: Important / Not Urgent</option>
                    <option value="3">Quadrant III: Not Important / Urgent</option>
                    <option value="4">Quadrant IV: Not Important / Not Urgent</option>
                </select><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label asp-for="CategoryId">Category:</label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="" selected>Select a Category</option>
                    @foreach (Category c in ViewBag.Categories)
                    {
                        <option value="@c.CategoryId">@c.CategoryName</option>
                    }
                </select><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label asp-for="Completed">Completed</label>
                <select asp-for="Completed" class="form-control" required>
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                </select><br />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">@pageTitle</button>
            </div>
        </div>
    </form>
</div>


