@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Mission08_Team0209.Models.Task>

<div class="container bordered-grid">
    <div class="row center">
        <div class="col center padding">
            Steven Covey's Time Management Matrix
        </div>
    </div>
    <div class="row">
        <div class="col-2 center">
        </div>
        <div class="col-5 ">
            Urgent
        </div>
        <div class="col-5">
            Not Urgent
        </div>
    </div>
    <div class="row">
        <div class="col-2 center padding col-2-border">
            Important
        </div>
        @if (Model != null)
        {
            <div class="col-5">
                Quadrant 1
                @foreach (var x in Model)
                {
                    @if (x.Quadrant == 1 && x.Completed == false)
                    {
                        <tr>
                            <td>@x.TaskItem</td>
                            <td>
                                <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </div>
        }
        else
        {
            <div class="col-5">
                Quadrant 1
            </div>
        }
        @* <div class="col-5">
            Quadrant 1
            @foreach (var x in Model)
            {
                @if (x.Quadrant == 1 && x.Completed == false)
                {
                    <tr>
                    <td>@x.TaskItem</td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                    </td>
                </tr>
                }
                
            }
        </div> *@
        <div class="col-5">
            Quadrant 2
        </div>
    </div>
    <div class="row">
        <div class="col-2 center padding col-2-border">
            Not Important
        </div>
        <div class="col-5">
            Quadrant 3
        </div>
        <div class="col-5">
            Quadrant 4
        </div>
    </div>
</div>